<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woohuhu.spring_backend_auth.user.dao.UserDao">

    <select id="getUser" parameterType="string" resultType="com.woohuhu.spring_backend_auth.user.dto.UserDto">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="createUser" parameterType="com.woohuhu.spring_backend_auth.user.dto.UserDto">
        INSERT INTO user(`id`, `name`, `password`)
        VALUES (#{id}, #{name}, #{password})
    </insert>

</mapper>